/*
@font-face {
  font-family: "Gotham Bold";
  src: url(fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham Book";
  src: url('static/fonts/Gotham-Book.otf');
}

@font-face {
  font-family: "Gotham Narrow Bold";
  src: url('fonts/GothamNarrow-Bold.otf');
}

@font-face {
  font-family: "Gotham Narrow Book";
  src: url(fonts/GothamNarrow-Book.otf);
}

@font-face {
  font-family: "Myriad Pro";
  src: url(../static/fonts/MyriadPro-Regular.otf);
}
*/